{% extends 'base.html.twig' %}
{% block body %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4"></div>

      <div class="col-sm-4">

        {% for quote in quoteunique %}
          <h2 class="text-center">Quote par : {{quote.author}}</h2><br>
          <h3 class="text-center">{{quote.title}}</h3>
          <div class="backgroundblue">
            <p>{{quote.content}}</p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p class="pull-left"> Author : {{quote.author}}</p>
            </div>
            <div class="col-sm-6">
              <p class="pull-right"> Date : {{quote.createdAt|date("d/m/Y H:i")}}</p>
            </div>
          </div>
          <div class="pull-right">
            <div class="row">
              <div class="col-sm-3">
                <a href="{{path("voteup", {id: quote.id})}}"><i class="fa fa-thumbs-o-up"></i></a>
              </div>
              <div class="col-sm-3">
                <p>{{quote.upVote}}</p>
              </div>
              <div class="col-sm-3">
                <a href="{{path("votedown", {id: quote.id})}}"><i class="fa fa-thumbs-o-down"></i></a>
              </div>
              <div class="col-sm-3">
                <p>{{quote.downVote}}</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <p class="pull-right">{% for comment in quote.comments %}
              {% if comment in quote.comments %}
            <h3>Comments</h3>
            <p>{{ comment.author }}</p>
            <p>{{ comment.comment }}</p>
            <p>Date : {{comment.createdAt|date("d/m/Y H:i")}}</p>
            {% endif %}
            {% endfor %}
          <br><br>
          <hr>
        {% else %}
          <h2>Aucune quote :(</h2>
        {% endfor %}
        </div>

        <div>
          <form action="{{ path('newComment/{id}') }}" method="post" novalidate>
            {{ form_row(form.author) }}
            {{ form_row(form.comment) }}
            {{ form_widget(form.submit)  }}
            {{ form_rest(form)  }}
          </form>
        </div>

  </div>
</div>
</div>
{% endblock %}